body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
  background: rgb(83,24,39);
background: radial-gradient(circle, rgba(83,24,39,1) 0%, rgba(42,21,34,1) 100%);
}

img {
  display: block;
  max-width: 100%;
}
.chatbox-messages {
  padding: 15px 25px;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 10px;
}

.chat-container .message-sophie {
  border-bottom-left-radius: 0;
  background-color: #e9bfc6;
  border-bottom: 4px solid #9c292e;
}

.chat-container .message-reader {
  border-bottom-right-radius: 0;
  background-color: #9c292e;
  border-bottom: 4px solid #e9bfc6;
}

.chatbox-messages .message-time {
  margin: 0;
  padding: 0px 18px 2px 0px;
}

p {
  margin: 0;
}